---
import Image from 'astro/components/Image.astro'
import Logo from '../../public/images/alfonsina-logo.png'
---
<nav class="bg-[#71211A] w-full h-16  flex justify-center">
    <a href="./"><Image src={Logo} alt="Logo alfonsina" class="w-28 h-16" loading={'eager'}>
</nav></a>